<div class="home">
  <section class="header-image"></section>
  <section class="front-page">
    <h2>Bring your own cup and get rewarded.</h2>
    <p>Create an Account</p>
    <p>Log In As User</p>
    <p>Log In As Store Admin</p>
  </section>
</div>
