<div class="home">
  <section class="header-image"></section>
  <section class="front-page">
    <h2>Bring your own cup and get rewarded.</h2>

    <%- if current_user -%>
      <h3>Welcome back!</h3>
    <%- elsif current_admin -%>
      <h3>Welcome back!</h3>
    <%- else -%>
      <h3><%= link_to 'User Sign Up', new_user_registration_path %></h3>
      <h3><%= link_to 'User Sign In', new_user_session_path %></h3>
      <h3><%= link_to 'Admin Sign In', new_admin_session_path %></h3>
    <%- end -%>

  </section>
</div>
