/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.home {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4em;
  max-width: 1200px;
  height: 100%;
}

.home-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-image-three {
  background: no-repeat url('./masonjar.jpg');
  width: 33%;
  height: 300px;
  background-size: cover;
  opacity: .9;
}

.header-image-one {
  background: no-repeat url('./alonecup.jpg');
  width: 33%;
  height: 300px;
  background-size: cover;
  background-position: 50% 70%;
  opacity: .9;
}

.header-image-two {
  background: no-repeat url('./waterbottle.jpg');
  width: 33%;
  height: 300px;
  background-size: cover;
  background-position: 50% 60%;
  opacity: .9;
}


.front-page h2 {
  font-family: 'Questrial', sans-serif;
  color: #303C6C;
  text-align: center;
  font-size: 40px;
  padding-bottom: 1em;
}

.front-page h3 {
  background-color: #FBE8A6;
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}

.front-page h3 a {
  color: #303C6C;
}

.popup {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: auto;
  background-color: rgba(0,0,0, 0.7);
}

.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  width: 700px;
  height: 700px;
}

.reward-form-popup {
  width: 700px;
  box-shadow: 10px 10px 40px #000000;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 1em;
}

.reward-form-popup h1 {
  text-align: center;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#homepage-button {
  width: 33%;
  border-radius: 0;
  margin-top: 3em;
}

#homepage-button a {
  color: #FFFFFF;
}

#homepage-button:hover a {
  color: #000000;
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redemption {
  margin: auto;
  margin-top: 25%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 3em;
  box-shadow: 10px 10px 40px #000000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.redemption h1 {
  font-size: 2.5em;
  font-family: 'Questrial', sans-serif;
}

.redemption h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  padding-bottom: .5em;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup-button {
  border-radius: 0;
  width: 150px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: .25em;
}

.registration {
  padding: 5em;
  width: 60%;
  margin: auto;
}

input[type="submit" i] {
  background-color: #40B0DF;
  padding: 1em 2em;
  color: #FFFFFF;
}

.registration label, em, input[type="submit" i] {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.registration h2, .top-bar a {
  color: #303C6C;
  font-family: 'Questrial', sans-serif;
  font-size: 35px;
 }

.rewards-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

/* User Dashboard Styling */

.user-dashboard, .admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-options, .admin-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

.admin-drawer {
  height: 80%;
  width: 80%;
  margin-top: 1em;
}

.admin-sub-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer {
  max-width: 80%;
  margin-top: 1em;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-view, .admin-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  height: 200px;
  text-align: center;
}

.header h1 {
  color: #303C6C;
  font-size: 3em;
  padding-top: 1em;
  font-family: 'Questrial', sans-serif;
}

.header h2 {
  color: #303C6C;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  padding: 0;
}

/* Admin Dashboard */

.qrCode {
  padding: 4em;
}

.search {
  text-align: left;
  padding: 1em;
  font-family: 'Lato', sans-serif;
}

.search-field {
  width: 30em;
  text-align: center;
}

.search-section label {
  font-size: 1em;
  cursor: default;
}

submit {
  width: 30em;
}

.customer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  padding: 1em 2em;
}

.customer p {
  padding: 0em 1em;
  margin: 0;
}

/* Rewards Tiles */

.rewards-tile {
  height: 460px;
  width: 400px;
  background-color: #B4DFE580;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 1em;
  padding: 2.5em 2em;
  box-shadow: 2px 3px 3px #000000;
  align-items: center;
  justify-content: space-between;
}

.rewards-tile .text {
  color: #000000;
  width: 100%;
  padding: .5em 0 1em 0;
}

.new.rewards-tile {
  justify-content: center;
}

.rewards-tile h1, .reward-form-popup h1 {
  font-size: 2em;
  font-family: 'Questrial', sans-serif;
  border-bottom: 2px solid #303C6C;
  padding: .25em;
  width: 100%;
}

.rewards-tile p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}

.rewards-tile span {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-style: italic;
}

/* Buttons */

.user-options button, .admin-options button {
  width: 30em;
  margin: 1.5em 0em 1em 0em;
}

button, .button, input[type="submit" i] {
  background-color: #303C6C;
  color: #FFFFFF;
  transition: background-color 100ms ease-out;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  border-radius: 100px;
  width: 13em;
  padding: 1em;
  margin: 1em;
}

.rewards-tile button, .rewards-tile .button, .rewards-tile input[type="submit" i] {
  margin-bottom: .25em;
}

.button:hover, .button.add-points:hover, .button:focus, button:hover, button.add-points:hover, button:focus, button.selected {
  background-color: #B4DFE5;
  outline:0;
  color: #303C6C;
  border-radius: 100px;
}

#dashboard-button {
  border-radius: 0;
}

.button.add-points:focus, button.add-points:focus {
  background-color: #303C6C;
  color: #FFFFFF;
}

input[type="submit" i] {
  border-radius: 100px;
}

table {
  background: #FFFFFF;
  border: solid 2px #F4976C;
  margin-bottom: 1.25rem;
  font-family: "Lato", sans-serif;
  max-height: 400px;
  width: 600px;
  table-layout: fixed;
}

tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 250px;
}

thead tr {
  display: block;
}

th, td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

td p, th p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

th p {
  color: #303C6C;
}

.points-redeemed-tile, .points-earned-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.points-earned, .points-redeemed {
  display: flex;
  flex-direction: column;
}

.points-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Navigation */

.top-bar {
  background-color: #F4976C;
  height: 4.5em;
  padding: 1em;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: none;
  color: #FFFFFF;
  background: none;
}

.devise-links {
  font-size: 18px;
  padding-top: 1em;
}

p, .devise-links {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.top-bar-section ul li > a {
  font-size: 18px;
}

.option h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  color: #5CDB95;
}

.option {
  border: 1px solid #40B0DF;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.return {
  max-width: 900px;
  margin: auto;
  padding-top: 2em;
  text-align: center;
}

.show-page h1 {
  text-align: center;
  background-color: #DCC5B1;
  margin: 0;
}

.scanner-section {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

.admin-section {
  overflow: auto;
}

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    background-color: #F4976C;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #F4976C;
    background: #F4976C;
  }
}

@media only screen and (max-width: 1000px) {

  .user-options, .admin-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    background-color: #F4976C;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #F4976C;
    background: #F4976C;
  }

}
