/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.home {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 4em;
  max-width: 1200px;
  height: 100%;
}

.header-image {
  background: no-repeat url('./alonecup.jpg');
  width: 50%;
  background-size: contain;
  height: 80%;
  margin-right: 4em;
}

.front-page h2 {
  font-family: 'Questrial', sans-serif;
  background-color: #303C6C;
  color: #FFFFFF;
  width: 12em;
  height: 3.5em;
  text-align: center;
  font-size: 40px;
  padding: .25em;
  margin-bottom: 2em;
}

.front-page h3 {
  background-color: #FBE8A6;
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}

.front-page h3 a {
  color: #303C6C;
}

.popup {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.7);
}

.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  width: 700px;
  height: 700px;
}

.reward-form-popup {
  width: 700px;
  height: 700px;
  border: 5px solid #0067B3;
  margin: auto;
  margin-top: 2em;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 1em;
}

.redemption {
  width: 40%;
  height: 30%;
  margin: auto;
  margin-top: 25%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 10px 10px 40px #000000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.redemption h1 {
  font-size: 2.5em;
  font-family: 'Questrial', sans-serif;
}

.redemption h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  padding-bottom: .5em;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup-button {
  border-radius: 0;
  width: 150px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: .25em;
}

.registration {
  padding: 5em;
}

input[type="submit" i] {
  background-color: #40B0DF;
  padding: 1em 2em;
  color: #FFFFFF;
}

.registration label, em, input[type="submit" i] {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.registration h2, .top-bar a {
  color: #0067B3;
  font-family: 'Questrial', sans-serif;
  font-size: 35px;
 }

.rewards-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

button {
  width: 13em;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

/* User Dashboard Styling */

.user-dashboard, .admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-options, .admin-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

.admin-drawer {
  height: 80%;
  width: 80%;
}

.admin-sub-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-options button, .admin-options button {
  width: 30em;
}

.drawer {
  max-width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-view, .admin-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  height: 200px;
  text-align: center;
}

.header h1 {
  color: #303C6C;
  font-size: 3em;
  padding-top: 1em;
  font-family: 'Questrial', sans-serif;
}

.header h2 {
  color: #303C6C;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
}

/* Admin Dashboard */

.qrCode {
  padding: 4em;
}

.search {
  text-align: left;
  padding: 1em;
  font-family: 'Lato', sans-serif;
}

.search-field {
  width: 30em;
  text-align: center;
}

.search-section label {
  font-size: 1em;
  cursor: default;
}

submit {
  width: 30em;
}

.customer {
  display: flex;
  flex-direction: row;
}

.customer p {
  padding: 0em 1em;
}

/* Rewards Tiles */

.rewards-tile {
  height: 400px;
  width: 400px;
  background-color: #B4DFE580;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  box-shadow: 2px 3px 3px #000000;
  align-items: center;
}

.rewards-tile .text {
  color: #000000;
  height: 300px;
  width: 100%;
  padding: 1em;
}

.rewards-tile h1 {
  font-size: 2em;
  font-family: 'Questrial', sans-serif;
  border: 1px solid #303C6C;
  padding: .25em;
  width: 100%;
}

.rewards-tile p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}

.rewards-tile span {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-style: italic;
}

.rewards-tile.round button, .rewards-tile.round.button {
  border-radius: 100px;
}

button, .button, .registration label, em, input[type="submit" i] {
  background-color: #303C6C;
  color: #FFFFFF;
  transition: background-color 100ms ease-out;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.button:hover, .button.add-points:hover, .button:focus, button:hover, button.add-points:hover, button:focus, button.selected {
  background-color: #B4DFE5;
  outline:0;
  color: #303C6C;
}

.button.add-points:focus, button.add-points:focus {
  background-color: #303C6C;
  color: #FFFFFF;
}

input[type="submit" i] {
  border-radius: 100px;
}

/* Navigation */

.top-bar {
  background-color: #F4976C;
  height: 4em;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: none;
  color: #FFFFFF;
  background: none;
}

.devise-links {
  font-size: 18px;
  padding-top: 1em;
}

p, .devise-links {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.top-bar-section ul li > a {
  font-size: 18px;
}

.option h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  color: #5CDB95;
}

.option {
  border: 1px solid #40B0DF;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.return {
  max-width: 900px;
  margin: auto;
  padding-top: 2em;
  text-align: center;
}

.show-page h1 {
  text-align: center;
  background-color: #DCC5B1;
  margin: 0;
}

.customer {
  overflow: auto;
  padding: 1em 2em;
}

.customer .button.small {
  font-size: 15px;
  padding: .5em;
  width: 200px;
}

.scanner-section {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

.admin-section button {
  width: 250px;
  radius: 5px;
}

button.round, .button.round {
  display: inline-block;
  margin: auto;
  margin-bottom: 1em;
}

.reward-button {
  margin: 1em;
}

.admin-section {
  overflow: auto;
}

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    background-color: #F4976C;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #F4976C;
    background: #F4976C;
  }
}

@media only screen and (max-width: 1000px) and (max-height: 730px) {

  .user-options, .admin-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    background-color: #F4976C;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #F4976C;
    background: #F4976C;
  }

}
