/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.registration {
  padding: 5em;
}

input[type="submit" i] {
  background-color: #40B0DF;
  padding: 1em 2em;
  color: #FFFFFF;
}

.registration label, em, input[type="submit" i] {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.registration h2, .top-bar a {
  color: #0067B3;
  font-family: 'Questrial', sans-serif;
  font-size: 35px;
 }

button:focus {
 outline:0;
}

.top-bar {
 background-color: #0067B3;
 height: 3.5em;
}

.devise-links {
font-size: 18px;
padding-top: 1em;
}

p, .devise-links {
font-family: 'Lato', sans-serif;
font-size: 20px;
}

.top-bar-section ul li > a {
font-size: 18px;
}

.option h2 {
font-family: 'Questrial', sans-serif;
font-size: 30px;
color: #0067B3;
}

.option {
 border: 1px solid #40B0DF;
 border-radius: 5px;
 padding: 1em;
 margin-bottom: 1em;
}

h1 {
font-family: 'Questrial', sans-serif;
font-size: 35px;
}

.return {
 max-width: 900px;
 margin: auto;
 padding-top: 2em;
 text-align: center;
}

.show-page h1 {
 text-align: center;
 background-color: #DCC5B1;
 margin: 0;
}

.search {
 text-align: left;
 padding: 1em;
}

.customer {
  overflow: auto;
  padding: 1em 2em;
}

.customer .button.small {
  font-size: 15px;
  padding: .5em;
  width: 200px;
}

.scanner-section {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

.reward-section button {
  width: 250px;
  radius: 5px;
}

button.round, .button.round {
  display: inline-block;
  margin: auto;
}

.reward-button {
  margin: 1em;
}


@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    background-color: #0067B3;
  }
}
